name: PIB Daily Twice

on:
  schedule:
    - cron: '0 6 * * *'   # 11:30 AM IST
    - cron: '0 18 * * *'  # 11:30 PM IST
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Run Pipeline
        run: node scripts/index.js
